@font-face {
    font-family: 'novecento_sans_widemedium';
    font-style: normal;
    font-weight: normal;
    src: url('Novecentosanswide-Medium-webfont.eot');
    src: local('@fontFamily'), url('../fonts/novecento_sans_widemedium/Novecentosanswide-Medium-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/novecento_sans_widemedium/Novecentosanswide-Medium-webfont.woff') format('woff'), url('../fonts/novecento_sans_widemedium/Novecentosanswide-Medium-webfont.ttf') format('truetype'), url('../fonts/novecento_sans_widemedium/Novecentosanswide-Medium-webfont.svg#novecento_sans_widemedium') format('svg'), url("../fonts/novecento_sans_widemedium/Novecentosanswide-Medium-webfont.otf") format('opentype');
}

.timeline-Tweet {
    background: inherit !important;
}

.stream .h-feed .e-entry-title, .timeline-Tweet-media, .timeline-Tweet-text {
    font-family: 'novecento_sans_widemedium' !important;
    font-size: 22px !important;
    line-height: 26px !important;
    color: white;
    margin-bottom: 10px !important;
    margin-left: 0!important;
}

.tweet .header {
    min-height: 0 !important;
    padding: 0 !important;
}

.stream .h-entry.tweet {
    padding-left: 0;
}

.permalink {
    float: left !important;
    color: #ff841c !important;
}

.footer,
.header .p-author,
.timeline-Tweet-actions,
.timeline-Tweet-media,
.timeline-Tweet-brand,
.timeline-Tweet-author,
.timeline-Tweet-retweetCreditIcon {
    display: none !important;
}

.retweet-credit .profile.h-card,
.timeline-Tweet-retweetCredit {
    color: #ff841c !important;
    margin: 0!important;
}

.timeline-Tweet-metadata {
    float: left!important;
    margin: 0!important;
}

.timeline-Tweet:hover .timeline-Tweet-timestamp {
    color: #e1e8ed !important;
}