.node-type-schedule {
  .submenu {
    margin-top: 70px;
    #schedule-menu li {
      float: left;
      margin-top: 20px;
      margin-left: 20px;
      list-style-type: none;
      a:not(.active) {
        color: white;
      }
    }
  }

  h3 {
    font-size: 24px;
  }

  article.node-session {
    padding: 10px;
    border: 1px solid #cb085e;
    margin: 1%;
    min-height: 200px;

    h4 {
      font-size: 18px;
      margin: 0px;
    }

    .field-name-field-session-speakers {
      position: absolute;
      bottom: 0;
      margin-top: 10px;
      background: #cb085e;
      width: 100%;
      padding: 10px;
      margin-left: -10px;
      color: white;
      a, a:visited {
        color: white;
      }

      .field-item {
        float: left;
      }
    }
  }
}

/** Keynotes block on homepage **/
.pane-nodequeue-1 {
  .pane-title {
    text-align: center;
    margin-bottom: 50px;
  }
}

.view-nodequeue-1 {
  padding-bottom: 50px;
  .views-row {
    margin-bottom: 15px;
    article.node-session {
      padding-right: 15px;
      border-radius: 80px;
      border: 3px solid white;
      .field-name-field-session-speakers {
        float: left;
        margin-right: 20px;
        img {
          border-radius: 50%;
        }
      }
      margin-right: 20px;
      &.views-row-even {
        margin-right: 0;
      }
      .speakers a {
        color: @gray-dark;
        &:hover {
          color: @gray-darker;
        }
      }
    }
  }
}